
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #b8bcc3;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7e7e7e;
}