.content-table{
    position: relative;
    min-width: 100%;
    border-spacing: 0px;
    border-collapse: separate;
    box-sizing: border-box;
    /* margin: 0px 16px; */
}

table.content-table thead th{
    position: sticky;
    top: 0;
    background-color: #eceef1;
    white-space: nowrap;
    text-align: center;
    z-index: 3;
    height: 34px;
    min-height: 34px;
    border-right: 1px solid #c7c7c7;
    /* border-left: 1px solid #c7c7c7; */
    box-sizing: border-box;
   
}

table.content-table td, table.content-table th{
    padding: 0px 10px;
    border-bottom: 1px solid #c7c7c7;
    border-right: 1px dotted #c7c7c7;
    /* border-left: 1px dotted #c7c7c7; */
    text-align: left;
    box-sizing: border-box;
}
.content-table .sticky-cell-header{
    /* width: 40px; */
    position: sticky !important;
    z-index: 5;
}
table.content-table tbody tr{
    background-color: #fff;
    height: 47px;
    
}
table.content-table th span{
    color: #111;
    font-size: 12px;
    text-transform: uppercase!important;
    cursor: pointer;
    padding-right: 12px;

}
/* .content-table .option-header{
    border-left: 1px solid #bbbbbb;
}
    */
.content-table .option-header,
.content-table .row-option{
    border-right: none;
}
.content-table .cell-empty{
    padding: 0 !important;
    background-color: #fff !important;
    border: none !important;
}

.content-table .sticky-cell-body {
    position: sticky !important;
    /* z-index: 4 !important; */
    background-color: #fff !important;
}

.sticky-cell-body.row-option .option-feature {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    box-sizing: border-box;
}

.sticky-cell-body.row-option .feature-text{
    padding-right: 16px!important;
    color: #0075c0;
    font-weight: bold;
}

.sticky-cell-body.row-option button{
    border: none;  
    box-sizing: border-box;
    height: 24px;
    padding: 8px 10px 8px 10px;
    border-radius: 3px;
    align-items: center;
    text-align: center;
    background-color: #fff;
    
}
.sticky-cell-body.row-option button:active,
.sticky-cell-body.row-option button:focus{
    border: 1px solid #0075c0;
}


table .option-header, table .row-option {
    /* min-width: 120px; */
    border-right: none !important;
    border-left: 1px dashed #bbbbbb;
}

.no-data {
    text-align: center;
    position: sticky;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 16px;
    background-color: white;
}

.no-data .no-data-img {
    background-image: url("../../assets/img/no_data.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin: 50px 50px 30px 50px;
    height: 74px;
    width: 132px;
}